body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('img/11_bg/bg.jpg');
  background-position: left center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(0.5);
}

.game-container {
  position: relative;
  width: 720px;
  height: 480px;
}

.startscreen-div {
    display: flex;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
    z-index: 8;
    background: #00000087;
    border-radius: 10px;
}

h2 {
  position: absolute;
    z-index: 6;
    color: orange;
    font-size: 115px;
    font-family: 'Rye';
    margin-top: 180px;
}

.btn {    
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  right: 45px;
  cursor: pointer;
  top: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn img {
  width: 40px;
  height: auto;
  filter: opacity(0.6);

}
.btn img:hover {
  filter: opacity(1);
}

.startscreen-img {
  display: flex;
  justify-content: center;
}

.startscreen-img img {
  height: 480px;
  width: 720px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.d-none {
  display: none;
}

button {
  position: absolute;
  width: 220px;
  height: 60px;
  z-index: 1;
  border: none;
  border-radius: 5px;
  background: orange;
  font-size: 25px;
  font-family: 'Rye';
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 

}

button:hover {
  background: rgb(255, 111, 0);
  transform: scale(1.04); 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Rye';
  src: url("../fonts/Rye-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

h1 {
  color: #f2f2f2;
  font-size: 50px;
  text-align: center;
  font-family: 'Rye', sans-serif;}

.instruction {    
  font-family: 'Inter', sans-serif;
  color: #f2f2f2;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* .background {    background-image: url('img/11_bg/bg.jpg');} */
canvas {
    background-color: black;
    border-radius: 10px;
    display: block;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
  h1 {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    width: 100vh;
  }
}